In [75]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import *
from pyspark.sql.types import *
import os

In [76]:
spark = (
    SparkSession.builder
    .appName("Exercise6-Optimized")
    .master("local[*]")
    .config("spark.sql.shuffle.partitions", "4")
    .config("spark.driver.memory", "4g")
    .config("spark.executor.memory", "2g")
    .getOrCreate()
)
spark

In [77]:
csv_files_path = "csv_files"
# Check if the folder exists
if not os.path.exists(csv_files_path):
    raise FileNotFoundError(f"Folder not found: {csv_files_path}")
else:
    print(f"Found CSV folder: {csv_files_path}")

Found CSV folder: csv_files

In [78]:
df = spark.read.csv("csv_files/Divvy_Trips_2019_Q4.csv",header=True,inferSchema=True)
print("Data loaded successfully!")

Data loaded successfully!

In [79]:
df.count()

704054

In [80]:
df.show()

+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
| trip_id|         start_time|           end_time|bikeid|tripduration|from_station_id|   from_station_name|to_station_id|     to_station_name|  usertype|gender|birthyear|
+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
|25223640|2019-10-01 00:01:39|2019-10-01 00:17:20|  2215|       940.0|             20|Sheffield Ave & K...|          309|Leavitt St & Armi...|Subscriber|  Male|     1987|
|25223641|2019-10-01 00:02:16|2019-10-01 00:06:34|  6328|       258.0|             19|Throop (Loomis) S...|          241| Morgan St & Polk St|Subscriber|  Male|     1998|
|25223642|2019-10-01 00:04:32|2019-10-01 00:18:43|  3003|       850.0|             84|Milwaukee Ave & G...|          199|Wabash Ave & Gran...|Subscriber|Female|     1991|
|25223643|2019-10-01 00:04:32|2019-10-01 00:43:43|  3275|     2,350.0|            313|Lakeview Ave & Fu...|          290|Kedzie Ave & Palm...|Subscriber|  Male|     1990|
|25223644|2019-10-01 00:04:34|2019-10-01 00:35:42|  5294|     1,867.0|            210|Ashland Ave & Div...|          382|Western Ave & Con...|Subscriber|  Male|     1987|
|25223645|2019-10-01 00:04:38|2019-10-01 00:10:51|  1891|       373.0|            156|Clark St & Wellin...|          226|Racine Ave & Belm...|Subscriber|Female|     1994|
|25223646|2019-10-01 00:04:52|2019-10-01 00:22:45|  1061|     1,072.0|             84|Milwaukee Ave & G...|          142|McClurg Ct & Erie St|Subscriber|Female|     1991|
|25223647|2019-10-01 00:04:57|2019-10-01 00:29:16|  1274|     1,458.0|            156|Clark St & Wellin...|          463|Clark St & Berwyn...|Subscriber|  Male|     1995|
|25223648|2019-10-01 00:05:20|2019-10-01 00:29:18|  6011|     1,437.0|            156|Clark St & Wellin...|          463|Clark St & Berwyn...|Subscriber|Female|     1993|
|25223649|2019-10-01 00:05:20|2019-10-01 02:23:46|  2957|     8,306.0|            336|Cottage Grove Ave...|          336|Cottage Grove Ave...|  Customer|  NULL|     NULL|
|25223650|2019-10-01 00:05:30|2019-10-01 00:37:36|  2564|     1,925.0|             77|Clinton St & Madi...|          506|Spaulding Ave & A...|Subscriber|  Male|     1977|
|25223651|2019-10-01 00:07:25|2019-10-01 00:19:53|  3601|       748.0|            198|Green St & Madiso...|          331|Halsted St & Clyb...|Subscriber|Female|     1980|
|25223652|2019-10-01 00:08:40|2019-10-01 00:26:00|   711|     1,039.0|             66|Clinton St & Lake St|           16|Paulina Ave & Nor...|  Customer|  Male|     1994|
|25223653|2019-10-01 00:08:52|2019-10-01 00:29:17|  5005|     1,224.0|            240|Sheridan Rd & Irv...|          230|Lincoln Ave & Ros...|  Customer|  NULL|     NULL|
|25223655|2019-10-01 00:10:03|2019-10-01 00:15:30|  1730|       326.0|             66|Clinton St & Lake St|           88|Racine Ave & Rand...|Subscriber|  Male|     1992|
|25223656|2019-10-01 00:10:46|2019-10-01 00:16:04|  4595|       318.0|            373|Kedzie Ave & Chic...|          377|Kedzie Ave & Lake St|  Customer|  NULL|     NULL|
|25223657|2019-10-01 00:12:04|2019-10-01 01:13:36|  2958|     3,692.0|             74|Kingsbury St & Er...|          402|Shields Ave & 31s...|  Customer|Female|     1962|
|25223658|2019-10-01 00:12:47|2019-10-01 00:17:55|  1489|       308.0|            289|Wells St & Concor...|          176|   Clark St & Elm St|Subscriber|  Male|     1992|
|25223659|2019-10-01 00:13:21|2019-10-01 00:34:12|  3602|     1,251.0|            106|State St & Pearso...|          334|Lake Shore Dr & B...|  Customer|  NULL|     NULL|
|25223660|2019-10-01 00:15:07|2019-10-01 00:40:34|  4228|     1,527.0|            133|Kingsbury St & Ki...|          673|Lincoln Park Cons...|  Customer|Female|     1995|
+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
only showing top 20 rows

In [81]:
df.write.partitionBy("from_station_name").mode("overwrite").csv("partition_files")

In [82]:
df.rdd.getNumPartitions()

4

In [83]:
num_partitions = len(df.rdd.glom().collect())
print("Number of partitions:", num_partitions)

Number of partitions: 4

In [84]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [85]:
path = "partition_files"

fs = sc._jvm.org.apache.hadoop.fs.FileSystem.get(sc._jsc.hadoopConfiguration())
p = sc._jvm.org.apache.hadoop.fs.Path(path)

# Get all subdirectories (i.e. partitions)
statuses = fs.listStatus(p)

partition_dirs = [f.getPath().getName() for f in statuses if f.isDirectory()]

print(f"Total number of partitions: {len(partition_dirs)}")

Total number of partitions: 610

In [86]:
df1 = spark.read.csv("csv_files/Divvy_Trips_2020_Q1.csv",header=True,inferSchema=True)
print("Data loaded successfully!")

Data loaded successfully!

In [87]:
df.show()

+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
| trip_id|         start_time|           end_time|bikeid|tripduration|from_station_id|   from_station_name|to_station_id|     to_station_name|  usertype|gender|birthyear|
+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
|25223640|2019-10-01 00:01:39|2019-10-01 00:17:20|  2215|       940.0|             20|Sheffield Ave & K...|          309|Leavitt St & Armi...|Subscriber|  Male|     1987|
|25223641|2019-10-01 00:02:16|2019-10-01 00:06:34|  6328|       258.0|             19|Throop (Loomis) S...|          241| Morgan St & Polk St|Subscriber|  Male|     1998|
|25223642|2019-10-01 00:04:32|2019-10-01 00:18:43|  3003|       850.0|             84|Milwaukee Ave & G...|          199|Wabash Ave & Gran...|Subscriber|Female|     1991|
|25223643|2019-10-01 00:04:32|2019-10-01 00:43:43|  3275|     2,350.0|            313|Lakeview Ave & Fu...|          290|Kedzie Ave & Palm...|Subscriber|  Male|     1990|
|25223644|2019-10-01 00:04:34|2019-10-01 00:35:42|  5294|     1,867.0|            210|Ashland Ave & Div...|          382|Western Ave & Con...|Subscriber|  Male|     1987|
|25223645|2019-10-01 00:04:38|2019-10-01 00:10:51|  1891|       373.0|            156|Clark St & Wellin...|          226|Racine Ave & Belm...|Subscriber|Female|     1994|
|25223646|2019-10-01 00:04:52|2019-10-01 00:22:45|  1061|     1,072.0|             84|Milwaukee Ave & G...|          142|McClurg Ct & Erie St|Subscriber|Female|     1991|
|25223647|2019-10-01 00:04:57|2019-10-01 00:29:16|  1274|     1,458.0|            156|Clark St & Wellin...|          463|Clark St & Berwyn...|Subscriber|  Male|     1995|
|25223648|2019-10-01 00:05:20|2019-10-01 00:29:18|  6011|     1,437.0|            156|Clark St & Wellin...|          463|Clark St & Berwyn...|Subscriber|Female|     1993|
|25223649|2019-10-01 00:05:20|2019-10-01 02:23:46|  2957|     8,306.0|            336|Cottage Grove Ave...|          336|Cottage Grove Ave...|  Customer|  NULL|     NULL|
|25223650|2019-10-01 00:05:30|2019-10-01 00:37:36|  2564|     1,925.0|             77|Clinton St & Madi...|          506|Spaulding Ave & A...|Subscriber|  Male|     1977|
|25223651|2019-10-01 00:07:25|2019-10-01 00:19:53|  3601|       748.0|            198|Green St & Madiso...|          331|Halsted St & Clyb...|Subscriber|Female|     1980|
|25223652|2019-10-01 00:08:40|2019-10-01 00:26:00|   711|     1,039.0|             66|Clinton St & Lake St|           16|Paulina Ave & Nor...|  Customer|  Male|     1994|
|25223653|2019-10-01 00:08:52|2019-10-01 00:29:17|  5005|     1,224.0|            240|Sheridan Rd & Irv...|          230|Lincoln Ave & Ros...|  Customer|  NULL|     NULL|
|25223655|2019-10-01 00:10:03|2019-10-01 00:15:30|  1730|       326.0|             66|Clinton St & Lake St|           88|Racine Ave & Rand...|Subscriber|  Male|     1992|
|25223656|2019-10-01 00:10:46|2019-10-01 00:16:04|  4595|       318.0|            373|Kedzie Ave & Chic...|          377|Kedzie Ave & Lake St|  Customer|  NULL|     NULL|
|25223657|2019-10-01 00:12:04|2019-10-01 01:13:36|  2958|     3,692.0|             74|Kingsbury St & Er...|          402|Shields Ave & 31s...|  Customer|Female|     1962|
|25223658|2019-10-01 00:12:47|2019-10-01 00:17:55|  1489|       308.0|            289|Wells St & Concor...|          176|   Clark St & Elm St|Subscriber|  Male|     1992|
|25223659|2019-10-01 00:13:21|2019-10-01 00:34:12|  3602|     1,251.0|            106|State St & Pearso...|          334|Lake Shore Dr & B...|  Customer|  NULL|     NULL|
|25223660|2019-10-01 00:15:07|2019-10-01 00:40:34|  4228|     1,527.0|            133|Kingsbury St & Ki...|          673|Lincoln Park Cons...|  Customer|Female|     1995|
+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
only showing top 20 rows

In [88]:
df1.show()

+----------------+-------------+-------------------+-------------------+--------------------+----------------+--------------------+--------------+---------+---------+-------+--------+-------------+
|         ride_id|rideable_type|         started_at|           ended_at|  start_station_name|start_station_id|    end_station_name|end_station_id|start_lat|start_lng|end_lat| end_lng|member_casual|
+----------------+-------------+-------------------+-------------------+--------------------+----------------+--------------------+--------------+---------+---------+-------+--------+-------------+
|EACB19130B0CDA4A|  docked_bike|2020-01-21 20:06:59|2020-01-21 20:14:30|Western Ave & Lel...|             239|Clark St & Leland...|           326|  41.9665| -87.6884|41.9671|-87.6674|       member|
|8FED874C809DC021|  docked_bike|2020-01-30 14:22:39|2020-01-30 14:26:22|Clark St & Montro...|             234|Southport Ave & I...|           318|  41.9616|  -87.666|41.9542|-87.6644|       member|
|789F3C21E472CA96|  docked_bike|2020-01-09 19:29:26|2020-01-09 19:32:17|Broadway & Belmon...|             296|Wilton Ave & Belm...|           117|  41.9401| -87.6455|41.9402| -87.653|       member|
|C9A388DAC6ABF313|  docked_bike|2020-01-06 16:17:07|2020-01-06 16:25:56|Clark St & Randol...|              51|Fairbanks Ct & Gr...|            24|  41.8846| -87.6319|41.8918|-87.6206|       member|
|943BC3CBECCFD662|  docked_bike|2020-01-30 08:37:16|2020-01-30 08:42:48|Clinton St & Lake St|              66|Wells St & Hubbar...|           212|  41.8856| -87.6418|41.8899|-87.6343|       member|
|6D9C8A6938165C11|  docked_bike|2020-01-10 12:33:05|2020-01-10 12:37:54|Wells St & Hubbar...|             212|Desplaines St & R...|            96|  41.8899| -87.6343|41.8846|-87.6446|       member|
|31EB9B8F406D4C82|  docked_bike|2020-01-10 13:07:35|2020-01-10 13:12:24|Desplaines St & R...|              96|Wells St & Hubbar...|           212|  41.8846| -87.6446|41.8899|-87.6343|       member|
|A2B24E3F9C9720E3|  docked_bike|2020-01-10 07:24:53|2020-01-10 07:29:50|Desplaines St & R...|              96|Wells St & Hubbar...|           212|  41.8846| -87.6446|41.8899|-87.6343|       member|
|5E3F01E1441730B7|  docked_bike|2020-01-31 16:37:16|2020-01-31 16:42:11|Wells St & Hubbar...|             212|Desplaines St & R...|            96|  41.8899| -87.6343|41.8846|-87.6446|       member|
|19DC57F7E3140131|  docked_bike|2020-01-31 09:39:17|2020-01-31 09:42:40|  Clark St & Lake St|              38|Orleans St & Merc...|           100|   41.886| -87.6309|41.8882|-87.6364|       member|
|8639202DD9FD9A41|  docked_bike|2020-01-07 22:46:52|2020-01-07 22:50:08|Wilton Ave & Belm...|             117|Clark St & Newpor...|           632|  41.9402|  -87.653|41.9445|-87.6547|       member|
|9E74E3BB4FFAB93A|  docked_bike|2020-01-08 16:02:44|2020-01-08 16:09:04|LaSalle St & Illi...|             181|Clinton St & Wash...|            91|  41.8908| -87.6317|41.8834|-87.6412|       member|
|3B8B2E2F29B63597|  docked_bike|2020-01-08 09:33:13|2020-01-08 09:42:02|Clinton St & Wash...|              91|LaSalle St & Illi...|           181|  41.8834| -87.6412|41.8908|-87.6317|       member|
|0F8517F8D21287D2|  docked_bike|2020-01-23 09:38:11|2020-01-23 09:45:56|Clinton St & Wash...|              91|LaSalle St & Illi...|           181|  41.8834| -87.6412|41.8908|-87.6317|       member|
|15A91638FAEC2641|  docked_bike|2020-01-28 20:52:50|2020-01-28 21:09:30|California Ave & ...|             123|Marshfield Ave & ...|            58|  41.9227| -87.6972| 41.916|-87.6689|       member|
|E45104F1ED756AF7|  docked_bike|2020-01-07 17:06:14|2020-01-07 17:42:01|Franklin St & Jac...|              36|Lincoln Ave & Div...|           152|  41.8777| -87.6353|41.9322|-87.6586|       member|
|219541294624C4B7|  docked_bike|2020-01-07 08:38:55|2020-01-07 09:11:40|Wilton Ave & Dive...|              13|Franklin St & Jac...|            36|  41.9324| -87.6527|41.8777|-87.6353|       member|
|013862D47804B9A4|  docked_bike|2020-01-06 17:16:14|2020-01-06 17:48:21|Franklin St & Jac...|              36|Lincoln Ave & Div...|           152|  41.8777| -87.6353|41.9322|-87.6586|       member|
|00678BB4A8438651|  docked_bike|2020-01-06 08:44:31|2020-01-06 09:21:28|Lincoln Ave & Div...|             152|Franklin St & Jac...|            36|  41.9322| -87.6586|41.8777|-87.6353|       member|
|A854F81611B5A5C0|  docked_bike|2020-01-19 12:04:10|2020-01-19 12:10:18|Kingsbury St & Ki...|             133|Clark St & Chicag...|           337|  41.8892| -87.6385|41.8968|-87.6309|       member|
+----------------+-------------+-------------------+-------------------+--------------------+----------------+--------------------+--------------+---------+---------+-------+--------+-------------+
only showing top 20 rows

In [89]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

In [90]:
df.show()

+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
| trip_id|         start_time|           end_time|bikeid|tripduration|from_station_id|   from_station_name|to_station_id|     to_station_name|  usertype|gender|birthyear|
+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
|25223640|2019-10-01 00:01:39|2019-10-01 00:17:20|  2215|       940.0|             20|Sheffield Ave & K...|          309|Leavitt St & Armi...|Subscriber|  Male|     1987|
|25223641|2019-10-01 00:02:16|2019-10-01 00:06:34|  6328|       258.0|             19|Throop (Loomis) S...|          241| Morgan St & Polk St|Subscriber|  Male|     1998|
|25223642|2019-10-01 00:04:32|2019-10-01 00:18:43|  3003|       850.0|             84|Milwaukee Ave & G...|          199|Wabash Ave & Gran...|Subscriber|Female|     1991|
|25223643|2019-10-01 00:04:32|2019-10-01 00:43:43|  3275|     2,350.0|            313|Lakeview Ave & Fu...|          290|Kedzie Ave & Palm...|Subscriber|  Male|     1990|
|25223644|2019-10-01 00:04:34|2019-10-01 00:35:42|  5294|     1,867.0|            210|Ashland Ave & Div...|          382|Western Ave & Con...|Subscriber|  Male|     1987|
|25223645|2019-10-01 00:04:38|2019-10-01 00:10:51|  1891|       373.0|            156|Clark St & Wellin...|          226|Racine Ave & Belm...|Subscriber|Female|     1994|
|25223646|2019-10-01 00:04:52|2019-10-01 00:22:45|  1061|     1,072.0|             84|Milwaukee Ave & G...|          142|McClurg Ct & Erie St|Subscriber|Female|     1991|
|25223647|2019-10-01 00:04:57|2019-10-01 00:29:16|  1274|     1,458.0|            156|Clark St & Wellin...|          463|Clark St & Berwyn...|Subscriber|  Male|     1995|
|25223648|2019-10-01 00:05:20|2019-10-01 00:29:18|  6011|     1,437.0|            156|Clark St & Wellin...|          463|Clark St & Berwyn...|Subscriber|Female|     1993|
|25223649|2019-10-01 00:05:20|2019-10-01 02:23:46|  2957|     8,306.0|            336|Cottage Grove Ave...|          336|Cottage Grove Ave...|  Customer|  NULL|     NULL|
|25223650|2019-10-01 00:05:30|2019-10-01 00:37:36|  2564|     1,925.0|             77|Clinton St & Madi...|          506|Spaulding Ave & A...|Subscriber|  Male|     1977|
|25223651|2019-10-01 00:07:25|2019-10-01 00:19:53|  3601|       748.0|            198|Green St & Madiso...|          331|Halsted St & Clyb...|Subscriber|Female|     1980|
|25223652|2019-10-01 00:08:40|2019-10-01 00:26:00|   711|     1,039.0|             66|Clinton St & Lake St|           16|Paulina Ave & Nor...|  Customer|  Male|     1994|
|25223653|2019-10-01 00:08:52|2019-10-01 00:29:17|  5005|     1,224.0|            240|Sheridan Rd & Irv...|          230|Lincoln Ave & Ros...|  Customer|  NULL|     NULL|
|25223655|2019-10-01 00:10:03|2019-10-01 00:15:30|  1730|       326.0|             66|Clinton St & Lake St|           88|Racine Ave & Rand...|Subscriber|  Male|     1992|
|25223656|2019-10-01 00:10:46|2019-10-01 00:16:04|  4595|       318.0|            373|Kedzie Ave & Chic...|          377|Kedzie Ave & Lake St|  Customer|  NULL|     NULL|
|25223657|2019-10-01 00:12:04|2019-10-01 01:13:36|  2958|     3,692.0|             74|Kingsbury St & Er...|          402|Shields Ave & 31s...|  Customer|Female|     1962|
|25223658|2019-10-01 00:12:47|2019-10-01 00:17:55|  1489|       308.0|            289|Wells St & Concor...|          176|   Clark St & Elm St|Subscriber|  Male|     1992|
|25223659|2019-10-01 00:13:21|2019-10-01 00:34:12|  3602|     1,251.0|            106|State St & Pearso...|          334|Lake Shore Dr & B...|  Customer|  NULL|     NULL|
|25223660|2019-10-01 00:15:07|2019-10-01 00:40:34|  4228|     1,527.0|            133|Kingsbury St & Ki...|          673|Lincoln Park Cons...|  Customer|Female|     1995|
+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
only showing top 20 rows

In [91]:
# def average_trip_duration_per_day(df):
#     result = df.groupBy("tripduration").agg(F.avg("tripduration").alias("avg_trip_duration"))
#     return result

# avg_trip = average_trip_duration_per_day(df)
# avg_trip.show(10)

In [92]:
df.show()

+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
| trip_id|         start_time|           end_time|bikeid|tripduration|from_station_id|   from_station_name|to_station_id|     to_station_name|  usertype|gender|birthyear|
+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
|25223640|2019-10-01 00:01:39|2019-10-01 00:17:20|  2215|       940.0|             20|Sheffield Ave & K...|          309|Leavitt St & Armi...|Subscriber|  Male|     1987|
|25223641|2019-10-01 00:02:16|2019-10-01 00:06:34|  6328|       258.0|             19|Throop (Loomis) S...|          241| Morgan St & Polk St|Subscriber|  Male|     1998|
|25223642|2019-10-01 00:04:32|2019-10-01 00:18:43|  3003|       850.0|             84|Milwaukee Ave & G...|          199|Wabash Ave & Gran...|Subscriber|Female|     1991|
|25223643|2019-10-01 00:04:32|2019-10-01 00:43:43|  3275|     2,350.0|            313|Lakeview Ave & Fu...|          290|Kedzie Ave & Palm...|Subscriber|  Male|     1990|
|25223644|2019-10-01 00:04:34|2019-10-01 00:35:42|  5294|     1,867.0|            210|Ashland Ave & Div...|          382|Western Ave & Con...|Subscriber|  Male|     1987|
|25223645|2019-10-01 00:04:38|2019-10-01 00:10:51|  1891|       373.0|            156|Clark St & Wellin...|          226|Racine Ave & Belm...|Subscriber|Female|     1994|
|25223646|2019-10-01 00:04:52|2019-10-01 00:22:45|  1061|     1,072.0|             84|Milwaukee Ave & G...|          142|McClurg Ct & Erie St|Subscriber|Female|     1991|
|25223647|2019-10-01 00:04:57|2019-10-01 00:29:16|  1274|     1,458.0|            156|Clark St & Wellin...|          463|Clark St & Berwyn...|Subscriber|  Male|     1995|
|25223648|2019-10-01 00:05:20|2019-10-01 00:29:18|  6011|     1,437.0|            156|Clark St & Wellin...|          463|Clark St & Berwyn...|Subscriber|Female|     1993|
|25223649|2019-10-01 00:05:20|2019-10-01 02:23:46|  2957|     8,306.0|            336|Cottage Grove Ave...|          336|Cottage Grove Ave...|  Customer|  NULL|     NULL|
|25223650|2019-10-01 00:05:30|2019-10-01 00:37:36|  2564|     1,925.0|             77|Clinton St & Madi...|          506|Spaulding Ave & A...|Subscriber|  Male|     1977|
|25223651|2019-10-01 00:07:25|2019-10-01 00:19:53|  3601|       748.0|            198|Green St & Madiso...|          331|Halsted St & Clyb...|Subscriber|Female|     1980|
|25223652|2019-10-01 00:08:40|2019-10-01 00:26:00|   711|     1,039.0|             66|Clinton St & Lake St|           16|Paulina Ave & Nor...|  Customer|  Male|     1994|
|25223653|2019-10-01 00:08:52|2019-10-01 00:29:17|  5005|     1,224.0|            240|Sheridan Rd & Irv...|          230|Lincoln Ave & Ros...|  Customer|  NULL|     NULL|
|25223655|2019-10-01 00:10:03|2019-10-01 00:15:30|  1730|       326.0|             66|Clinton St & Lake St|           88|Racine Ave & Rand...|Subscriber|  Male|     1992|
|25223656|2019-10-01 00:10:46|2019-10-01 00:16:04|  4595|       318.0|            373|Kedzie Ave & Chic...|          377|Kedzie Ave & Lake St|  Customer|  NULL|     NULL|
|25223657|2019-10-01 00:12:04|2019-10-01 01:13:36|  2958|     3,692.0|             74|Kingsbury St & Er...|          402|Shields Ave & 31s...|  Customer|Female|     1962|
|25223658|2019-10-01 00:12:47|2019-10-01 00:17:55|  1489|       308.0|            289|Wells St & Concor...|          176|   Clark St & Elm St|Subscriber|  Male|     1992|
|25223659|2019-10-01 00:13:21|2019-10-01 00:34:12|  3602|     1,251.0|            106|State St & Pearso...|          334|Lake Shore Dr & B...|  Customer|  NULL|     NULL|
|25223660|2019-10-01 00:15:07|2019-10-01 00:40:34|  4228|     1,527.0|            133|Kingsbury St & Ki...|          673|Lincoln Park Cons...|  Customer|Female|     1995|
+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
only showing top 20 rows

### Q1. What is the `average` trip duration per day?

In [93]:
df_cleaned = df.withColumn("tripduration", regexp_replace(df["tripduration"], "[,]", ""))

In [94]:
df_cleaned.show()

+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
| trip_id|         start_time|           end_time|bikeid|tripduration|from_station_id|   from_station_name|to_station_id|     to_station_name|  usertype|gender|birthyear|
+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
|25223640|2019-10-01 00:01:39|2019-10-01 00:17:20|  2215|       940.0|             20|Sheffield Ave & K...|          309|Leavitt St & Armi...|Subscriber|  Male|     1987|
|25223641|2019-10-01 00:02:16|2019-10-01 00:06:34|  6328|       258.0|             19|Throop (Loomis) S...|          241| Morgan St & Polk St|Subscriber|  Male|     1998|
|25223642|2019-10-01 00:04:32|2019-10-01 00:18:43|  3003|       850.0|             84|Milwaukee Ave & G...|          199|Wabash Ave & Gran...|Subscriber|Female|     1991|
|25223643|2019-10-01 00:04:32|2019-10-01 00:43:43|  3275|      2350.0|            313|Lakeview Ave & Fu...|          290|Kedzie Ave & Palm...|Subscriber|  Male|     1990|
|25223644|2019-10-01 00:04:34|2019-10-01 00:35:42|  5294|      1867.0|            210|Ashland Ave & Div...|          382|Western Ave & Con...|Subscriber|  Male|     1987|
|25223645|2019-10-01 00:04:38|2019-10-01 00:10:51|  1891|       373.0|            156|Clark St & Wellin...|          226|Racine Ave & Belm...|Subscriber|Female|     1994|
|25223646|2019-10-01 00:04:52|2019-10-01 00:22:45|  1061|      1072.0|             84|Milwaukee Ave & G...|          142|McClurg Ct & Erie St|Subscriber|Female|     1991|
|25223647|2019-10-01 00:04:57|2019-10-01 00:29:16|  1274|      1458.0|            156|Clark St & Wellin...|          463|Clark St & Berwyn...|Subscriber|  Male|     1995|
|25223648|2019-10-01 00:05:20|2019-10-01 00:29:18|  6011|      1437.0|            156|Clark St & Wellin...|          463|Clark St & Berwyn...|Subscriber|Female|     1993|
|25223649|2019-10-01 00:05:20|2019-10-01 02:23:46|  2957|      8306.0|            336|Cottage Grove Ave...|          336|Cottage Grove Ave...|  Customer|  NULL|     NULL|
|25223650|2019-10-01 00:05:30|2019-10-01 00:37:36|  2564|      1925.0|             77|Clinton St & Madi...|          506|Spaulding Ave & A...|Subscriber|  Male|     1977|
|25223651|2019-10-01 00:07:25|2019-10-01 00:19:53|  3601|       748.0|            198|Green St & Madiso...|          331|Halsted St & Clyb...|Subscriber|Female|     1980|
|25223652|2019-10-01 00:08:40|2019-10-01 00:26:00|   711|      1039.0|             66|Clinton St & Lake St|           16|Paulina Ave & Nor...|  Customer|  Male|     1994|
|25223653|2019-10-01 00:08:52|2019-10-01 00:29:17|  5005|      1224.0|            240|Sheridan Rd & Irv...|          230|Lincoln Ave & Ros...|  Customer|  NULL|     NULL|
|25223655|2019-10-01 00:10:03|2019-10-01 00:15:30|  1730|       326.0|             66|Clinton St & Lake St|           88|Racine Ave & Rand...|Subscriber|  Male|     1992|
|25223656|2019-10-01 00:10:46|2019-10-01 00:16:04|  4595|       318.0|            373|Kedzie Ave & Chic...|          377|Kedzie Ave & Lake St|  Customer|  NULL|     NULL|
|25223657|2019-10-01 00:12:04|2019-10-01 01:13:36|  2958|      3692.0|             74|Kingsbury St & Er...|          402|Shields Ave & 31s...|  Customer|Female|     1962|
|25223658|2019-10-01 00:12:47|2019-10-01 00:17:55|  1489|       308.0|            289|Wells St & Concor...|          176|   Clark St & Elm St|Subscriber|  Male|     1992|
|25223659|2019-10-01 00:13:21|2019-10-01 00:34:12|  3602|      1251.0|            106|State St & Pearso...|          334|Lake Shore Dr & B...|  Customer|  NULL|     NULL|
|25223660|2019-10-01 00:15:07|2019-10-01 00:40:34|  4228|      1527.0|            133|Kingsbury St & Ki...|          673|Lincoln Park Cons...|  Customer|Female|     1995|
+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
only showing top 20 rows

In [95]:
print(df_cleaned.dtypes)

[('trip_id', 'int'), ('start_time', 'timestamp'), ('end_time', 'timestamp'), ('bikeid', 'int'), ('tripduration', 'string'), ('from_station_id', 'int'), ('from_station_name', 'string'), ('to_station_id', 'int'), ('to_station_name', 'string'), ('usertype', 'string'), ('gender', 'string'), ('birthyear', 'int')]

In [96]:
df_cleaned = df_cleaned.withColumn("tripduration", F.col("tripduration").cast(DoubleType()).cast(IntegerType()))

In [97]:
df_cleaned.show()

+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
| trip_id|         start_time|           end_time|bikeid|tripduration|from_station_id|   from_station_name|to_station_id|     to_station_name|  usertype|gender|birthyear|
+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
|25223640|2019-10-01 00:01:39|2019-10-01 00:17:20|  2215|         940|             20|Sheffield Ave & K...|          309|Leavitt St & Armi...|Subscriber|  Male|     1987|
|25223641|2019-10-01 00:02:16|2019-10-01 00:06:34|  6328|         258|             19|Throop (Loomis) S...|          241| Morgan St & Polk St|Subscriber|  Male|     1998|
|25223642|2019-10-01 00:04:32|2019-10-01 00:18:43|  3003|         850|             84|Milwaukee Ave & G...|          199|Wabash Ave & Gran...|Subscriber|Female|     1991|
|25223643|2019-10-01 00:04:32|2019-10-01 00:43:43|  3275|        2350|            313|Lakeview Ave & Fu...|          290|Kedzie Ave & Palm...|Subscriber|  Male|     1990|
|25223644|2019-10-01 00:04:34|2019-10-01 00:35:42|  5294|        1867|            210|Ashland Ave & Div...|          382|Western Ave & Con...|Subscriber|  Male|     1987|
|25223645|2019-10-01 00:04:38|2019-10-01 00:10:51|  1891|         373|            156|Clark St & Wellin...|          226|Racine Ave & Belm...|Subscriber|Female|     1994|
|25223646|2019-10-01 00:04:52|2019-10-01 00:22:45|  1061|        1072|             84|Milwaukee Ave & G...|          142|McClurg Ct & Erie St|Subscriber|Female|     1991|
|25223647|2019-10-01 00:04:57|2019-10-01 00:29:16|  1274|        1458|            156|Clark St & Wellin...|          463|Clark St & Berwyn...|Subscriber|  Male|     1995|
|25223648|2019-10-01 00:05:20|2019-10-01 00:29:18|  6011|        1437|            156|Clark St & Wellin...|          463|Clark St & Berwyn...|Subscriber|Female|     1993|
|25223649|2019-10-01 00:05:20|2019-10-01 02:23:46|  2957|        8306|            336|Cottage Grove Ave...|          336|Cottage Grove Ave...|  Customer|  NULL|     NULL|
|25223650|2019-10-01 00:05:30|2019-10-01 00:37:36|  2564|        1925|             77|Clinton St & Madi...|          506|Spaulding Ave & A...|Subscriber|  Male|     1977|
|25223651|2019-10-01 00:07:25|2019-10-01 00:19:53|  3601|         748|            198|Green St & Madiso...|          331|Halsted St & Clyb...|Subscriber|Female|     1980|
|25223652|2019-10-01 00:08:40|2019-10-01 00:26:00|   711|        1039|             66|Clinton St & Lake St|           16|Paulina Ave & Nor...|  Customer|  Male|     1994|
|25223653|2019-10-01 00:08:52|2019-10-01 00:29:17|  5005|        1224|            240|Sheridan Rd & Irv...|          230|Lincoln Ave & Ros...|  Customer|  NULL|     NULL|
|25223655|2019-10-01 00:10:03|2019-10-01 00:15:30|  1730|         326|             66|Clinton St & Lake St|           88|Racine Ave & Rand...|Subscriber|  Male|     1992|
|25223656|2019-10-01 00:10:46|2019-10-01 00:16:04|  4595|         318|            373|Kedzie Ave & Chic...|          377|Kedzie Ave & Lake St|  Customer|  NULL|     NULL|
|25223657|2019-10-01 00:12:04|2019-10-01 01:13:36|  2958|        3692|             74|Kingsbury St & Er...|          402|Shields Ave & 31s...|  Customer|Female|     1962|
|25223658|2019-10-01 00:12:47|2019-10-01 00:17:55|  1489|         308|            289|Wells St & Concor...|          176|   Clark St & Elm St|Subscriber|  Male|     1992|
|25223659|2019-10-01 00:13:21|2019-10-01 00:34:12|  3602|        1251|            106|State St & Pearso...|          334|Lake Shore Dr & B...|  Customer|  NULL|     NULL|
|25223660|2019-10-01 00:15:07|2019-10-01 00:40:34|  4228|        1527|            133|Kingsbury St & Ki...|          673|Lincoln Park Cons...|  Customer|Female|     1995|
+--------+-------------------+-------------------+------+------------+---------------+--------------------+-------------+--------------------+----------+------+---------+
only showing top 20 rows

In [98]:
df_update_date = df.withColumn("date", to_date(col("date")))

{"ts": "2025-11-04 19:09:28.351", "level": "ERROR", "logger": "DataFrameQueryContextLogger", "msg": "[UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `date` cannot be resolved. Did you mean one of the following? [`bikeid`, `end_time`, `gender`, `usertype`, `birthyear`]. SQLSTATE: 42703", "context": {"file": "line 1 in cell [98]", "line": "", "fragment": "col", "errorClass": "UNRESOLVED_COLUMN.WITH_SUGGESTION"}, "exception": {"class": "Py4JJavaError", "msg": "An error occurred while calling o2805.withColumn.\n: org.apache.spark.sql.AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `date` cannot be resolved. Did you mean one of the following? [`bikeid`, `end_time`, `gender`, `usertype`, `birthyear`]. SQLSTATE: 42703;\n'Project [trip_id#1475, start_time#1476, end_time#1477, bikeid#1478, tripduration#1479, from_station_id#1480, from_station_name#1481, to_station_id#1482, to_station_name#1483, usertype#1484, gender#1485, birthyear#1486, 'to_date('date) AS date#1909]\n+- Relation [trip_id#1475,start_time#1476,end_time#1477,bikeid#1478,tripduration#1479,from_station_id#1480,from_station_name#1481,to_station_id#1482,to_station_name#1483,usertype#1484,gender#1485,birthyear#1486] csv\n\n\tat org.apache.spark.sql.errors.QueryCompilationErrors$.unresolvedAttributeError(QueryCompilationErrors.scala:401)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.org$apache$spark$sql$catalyst$analysis$CheckAnalysis$$failUnresolvedAttribute(CheckAnalysis.scala:169)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7(CheckAnalysis.scala:404)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7$adapted(CheckAnalysis.scala:402)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:251)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:251)\n\tat scala.collection.IterableOnceOps.foreach(IterableOnce.scala:619)\n\tat scala.collection.IterableOnceOps.foreach$(IterableOnce.scala:617)\n\tat scala.collection.AbstractIterable.foreach(Iterable.scala:935)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:251)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:251)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:251)\n\tat scala.collection.immutable.Vector.foreach(Vector.scala:2125)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:251)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6(CheckAnalysis.scala:402)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6$adapted(CheckAnalysis.scala:402)\n\tat scala.collection.immutable.List.foreach(List.scala:334)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:402)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:284)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:284)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:255)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:299)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:244)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:231)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:299)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$resolveInFixedPoint$1(HybridAnalyzer.scala:192)\n\tat scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)\n\tat org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:192)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:76)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:111)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:71)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:330)\n\tat org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:330)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:110)\n\tat org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:278)\n\tat org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:278)\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\tat org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:277)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:110)\n\tat scala.util.Try$.apply(Try.scala:217)\n\tat org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1378)\n\tat org.apache.spark.util.Utils$.getTryWithCallerStacktrace(Utils.scala:1439)\n\tat org.apache.spark.util.LazyTry.get(LazyTry.scala:58)\n\tat org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:121)\n\tat org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:80)\n\tat org.apache.spark.sql.classic.Dataset$.$anonfun$ofRows$1(Dataset.scala:115)\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\tat org.apache.spark.sql.classic.Dataset$.ofRows(Dataset.scala:113)\n\tat org.apache.spark.sql.classic.Dataset.withPlan(Dataset.scala:2263)\n\tat org.apache.spark.sql.classic.Dataset.withColumns(Dataset.scala:1283)\n\tat org.apache.spark.sql.classic.Dataset.withColumns(Dataset.scala:232)\n\tat org.apache.spark.sql.Dataset.withColumn(Dataset.scala:2187)\n\tat org.apache.spark.sql.classic.Dataset.withColumn(Dataset.scala:1819)\n\tat jdk.internal.reflect.GeneratedMethodAccessor96.invoke(Unknown Source)\n\tat java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)\n\tat java.base/java.lang.reflect.Method.invoke(Method.java:569)\n\tat py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)\n\tat py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)\n\tat py4j.Gateway.invoke(Gateway.java:282)\n\tat py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)\n\tat py4j.commands.CallCommand.execute(CallCommand.java:79)\n\tat py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)\n\tat py4j.ClientServerConnection.run(ClientServerConnection.java:108)\n\tat java.base/java.lang.Thread.run(Thread.java:840)\n\tSuppressed: org.apache.spark.util.Utils$OriginalTryStackTraceException: Full stacktrace of original doTryWithCallerStacktrace caller\n\t\tat org.apache.spark.sql.errors.QueryCompilationErrors$.unresolvedAttributeError(QueryCompilationErrors.scala:401)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.org$apache$spark$sql$catalyst$analysis$CheckAnalysis$$failUnresolvedAttribute(CheckAnalysis.scala:169)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7(CheckAnalysis.scala:404)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7$adapted(CheckAnalysis.scala:402)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:251)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:251)\n\t\tat scala.collection.IterableOnceOps.foreach(IterableOnce.scala:619)\n\t\tat scala.collection.IterableOnceOps.foreach$(IterableOnce.scala:617)\n\t\tat scala.collection.AbstractIterable.foreach(Iterable.scala:935)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:251)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:251)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:251)\n\t\tat scala.collection.immutable.Vector.foreach(Vector.scala:2125)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:251)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6(CheckAnalysis.scala:402)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6$adapted(CheckAnalysis.scala:402)\n\t\tat scala.collection.immutable.List.foreach(List.scala:334)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:402)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:284)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:284)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:255)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:299)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:244)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:231)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:299)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$resolveInFixedPoint$1(HybridAnalyzer.scala:192)\n\t\tat scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)\n\t\tat org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:192)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:76)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:111)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:71)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:330)\n\t\tat org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:330)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:110)\n\t\tat org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:278)\n\t\tat org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:278)\n\t\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\t\tat org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:277)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:110)\n\t\tat scala.util.Try$.apply(Try.scala:217)\n\t\tat org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1378)\n\t\tat org.apache.spark.util.LazyTry.tryT$lzycompute(LazyTry.scala:46)\n\t\tat org.apache.spark.util.LazyTry.tryT(LazyTry.scala:46)\n\t\t... 22 more\n", "stacktrace": [{"class": null, "method": "deco", "file": "/home/developer/.pyenv/versions/pyspark_env/lib/python3.13/site-packages/pyspark/errors/exceptions/captured.py", "line": "282"}, {"class": null, "method": "get_return_value", "file": "/home/developer/.pyenv/versions/pyspark_env/lib/python3.13/site-packages/py4j/protocol.py", "line": "327"}]}}

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `date` cannot be resolved. Did you mean one of the following? [`bikeid`, `end_time`, `gender`, `usertype`, `birthyear`]. SQLSTATE: 42703;
'Project [trip_id#1475, start_time#1476, end_time#1477, bikeid#1478, tripduration#1479, from_station_id#1480, from_station_name#1481, to_station_id#1482, to_station_name#1483, usertype#1484, gender#1485, birthyear#1486, 'to_date('date) AS date#1909]
+- Relation [trip_id#1475,start_time#1476,end_time#1477,bikeid#1478,tripduration#1479,from_station_id#1480,from_station_name#1481,to_station_id#1482,to_station_name#1483,usertype#1484,gender#1485,birthyear#1486] csv